@use "./variables" as *;
@use "./reset" as *;

body{
    max-width: 100vw;
    width: 100%;
    height: 100vh;

    header{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 40px 30px;
        position: absolute;
        inset: 0;
        z-index: 99;

        .logo{
            width: 200px;
            height: 100px;
            
            h2{
                font-weight: 800;
                font-family: $Barlow;
                color: white;
            }
        }

        nav{
            display: flex;
            gap: 15px;
            width: fit-content;
            align-items: center;
            height: 50px;
            font-size: 15px;

            a{
                text-decoration: none;
                color: white;
                height: 40px;
                padding: 12px 22px;
                font-family: $Fraunces;
            }

            a:nth-of-type(4){
                background-color: white;
                border-radius: 25px;
                font-weight: 700;
                text-transform: uppercase;
                color: black;
                transition: background-color 100ms ease-in-out;

                &:hover{
                    background-color: #3EBFFF;
                    color: white;
                    transition: background-color 200ms ease-in-out;
                }
            }
        }
    }

    main{
        max-width: 100vw;
        width: 100%;
        height: 100vh;

        .hero-section{
            max-width: 100vw;
            width: 100%;
            height: 100vh;
            max-height: 100%;
            background-image: url(../images/desktop/image-header.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: relative;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;
    
                .hero{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: center;
                    justify-content: center;
                    height: fit-content;
                    width: 700px;
                    position: relative;
                    bottom: 20px;
    
                        h2{
                            position: relative;
                            bottom: 70px;
                            color: hsl(0, 0%, 100%);
                            font-size: 50px;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-family: "Fraunces", serif;
                            word-spacing: 5px;
                            letter-spacing: 5px;
                        }
                        img{
                            height: 100px;
                            width: 30px;
                        }
                }
        }
    
        .info{
            max-width: 100vw;
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100fr 100fr 100fr;
    
            .one, .four{
                grid-column: 1/2;
                grid-row: 1/2;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
    
                .box-heading{
                    font-family: "Fraunces", serif;
                    font-size: 40px;
                    font-weight:900;
                    align-self: flex-start;
                    padding-left: 20%;
    
                }
    
                .para{
                    font-size: 18px;
                    font-family: $Barlow;
                    font-weight: 600;
                    color: #8A8A9A;
                    line-height: 1.8rem;
                }
    
                .more-info{
                    text-decoration: none;
                    color: black;
                    align-self: flex-start;
                    padding-left: 22%;
                    font-family: $Fraunces;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 15px;
                    position: relative;
                    z-index: 99;
                }
    
                .underline{
                    width: 125px;
                    height: 10px;
                    box-shadow: 0px 9px 0px hsl(51, 100%, 90%) inset;
                    position: relative;
                    left: -21%;
                    bottom: 37px;
                    z-index: 20;
                    border-radius: 20px 20px 20px 20px;
                
                }
            }
    
            .two{
                grid-column: 2/3;
                grid-row: 1/2;
                width: 100%;
                height: 100%;
    
                img{
                    height: 100%;
                    width: 100%;
                }
            }
    
            .three{
                grid-column: 1/2;
                grid-row: 2/3;
                width: 100%;
                height: 100%;
    
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .four{
                grid-column: 2/3;
                grid-row: 2/3;
    
                .underline{
                    box-shadow: 0px 9px 0px hsl(7, 99%, 90%) inset;
                }
            }
            .five, .six{
                grid-column: 1/2;
                grid-row: 3/4;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 280px;
                background-image: url(../images/desktop/image-graphic-design.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                gap: 30px;
    
                .five-heading{
                    font-family: $Fraunces;
                    font-size: 30px;
                    font-weight: 800;
                    color: $Darkcyan;
                }
    
                .five-para{
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $Barlow;
                    color: #49887B;
                    line-height: 1.8rem;
                }
            }
            .six{
                grid-column: 2/3;
                grid-row: 3/4;
                background-image: url(../images/desktop/image-photography.jpg);
    
                .five-heading{
                    color: #13375fe8;
                }
    
                .five-para{
                    color: $DarkBlue;
                }
            }
        }
    
        .client{
            max-width: 100vw;
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 90px;

            .client-heading{
                h2{
                    letter-spacing: 5px;
                    font-size: 18px;
                font-family: $Fraunces;
                font-weight: 900;
                text-transform: uppercase;
                color: #B9B7B7;
                }
            }

            .client-profile{
                display: flex;
    gap: 80px;
    justify-content: center;
    width: 100%;
    padding-left: 1vh;
            

                .client-one, .client-two, .client-three{
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    gap: 40px;

                    .client-image{
                        width: fit-content;
                        height: fit-content;
                        img{
                            width: 70px;
                            height: 70px;
                            border-radius: 100px;

                        }
                    }

                    .client-info{
                        width: fit-content;
                        height: fit-content;

                        .info-para{
                            font-size: 18px;
                            font-family: $Barlow;
                            font-weight: 600;
                            text-align: center;
                            line-height: 1.9rem;
                            color: #6D6D6F;
                        }
                    }

                    .client-id{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 15px;
                        .name{
                            font-size: 18px;
                            font-family: $Fraunces;
                            font-weight: 900;
                        }

                        .post{
                            font-size: 15px;
                            font-family: $Barlow;
                            font-weight: 700;
                            color: #B9B7B7;
                        }
                    }
                }
            }
        }
        .product{
            width: 100%;
            max-width: 100vw;
            display: flex;

            .box{
                width: 500px;
                height: 500px;

                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .footer{
            max-width: 100vw;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 80px;
            padding: 80px;
            background-color: #90D4C5;

            .sunnyside{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                h2{
                    font-size: 35px;
                    font-family: $Barlow;
                    font-weight: 900;
                    color: #2E7567;
                }

                .brand-nav{
                    display: flex;
                    gap: 60px;

                    a{
                        text-decoration: none;
                        color: $moderateCyan;
                        font-family: $Barlow;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
            .socials{
                display: flex;
                gap: 30px;
            }
        }
    }
}